.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}
.container {
  background-color: #380036;
  border: 1px solid #121213;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  width: 500px;
  align-items: center;
  color: white;
  animation: slide 0.5s forwards;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: left;
  //   min-height: 50%;
  height: 600px;
  margin: 5rem auto;
  border-radius: 9px;
  // overflow: hidden;
  position: relative;
  box-shadow: 0 2rem 6rem 0.5rem rgba(#615551, 0.2);
  & .exit {
    //   background-color: red;
    color: rgb(247, 247, 247);
    //   height: 10%;
    margin: 1rem;
    top: 0;
    //   font-size: 12px;
    //   width: 100%;
    //   width: 13%;
    //   height: 32%;
    //   height: 50px;
    right: 0;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    border: none;
    user-select: none;
    position: absolute;
    & svg {
      fill: #fff;
      width: 35px;
      height: 35px;
      &:hover {
        fill: rgba(247, 247, 247, 0.7);
      }
    }
  }
}
.directions {
  // background-color: red;
  // margin: 2rem;
  .dirspan {
    display: flex;
    // margin-top: 15%;
    // background-color: #0cbaba;
    .dirlabel {
      // background-color: green;
      width: 25px;
      font-size: 16px;
      height: 2px;
      margin-top: 5%;
    }
    input[type="text"] {
      margin-left: 1rem;
      display: block;
      width: 50px;
      height: 25px;
      font-size: 1.5rem;
      margin-top: 2.5%;
    }
    input[type="search"] {
      // content: "oz";
      margin-left: 2rem;
      width: fit-content;
      height: 25px;
      margin-top: 5%;
      // margin-right:
      border: none;
      border-bottom: 1px solid #ccc;
      background-color: #380036;
      // text-decoration: underline;
      display: block;
      // padding: 0.5rem 0.75rem;
      // width: 30%;
      font-size: 1.5rem;
      line-height: 1.25;
      color: rgba(228, 235, 240, 0.8);

      &:focus {
        outline: 0;
        border-bottom-color: #0cbaba;
      }
    }
  }
}
@function remy($value, $base: 16px) {
  @return ($value / $base) * 1rem;
}
@mixin transition(
  $prop: all,
  $duration: 0.25s,
  $timing: cubic-bezier(0.4, 0, 1, 1)
) {
  transition: $prop $duration $timing;
}
.extrainfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .extraspan {
    width: 160px;
  }
}
.form::-webkit-scrollbar {
  display: none;
}
.form {
  // background-color: red;
  //   margin-left: 5%;
  //   width: 100%;
  //   height: 100%;

  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px; // width: 100rem;
  div {
    max-width: 100%;
    width: 100%;
    padding: 0;
    border: 0;

    & + & {
      margin-top: 1rem;
    }

    label {
      display: flex;
      flex-direction: row;
      color: rgba(255, 255, 255, 0.8);
      justify-content: left;
      //   display: inline-block;
      margin-top: 1rem;
      //   padding-bottom: ;
      font-size: 16px;
      width: 100%;
      text-transform: uppercase;
      touch-action: manipulation;
    }
    input[type="text"] {
      display: block;
      padding: 0.5rem 0.75rem;
      width: 100%;
      font-size: 2rem;
      line-height: 1.25;
      color: rgb(228, 235, 240);
      background-color: #380036;
      background-image: none;
      background-clip: padding-box;
      border-top: 0;
      border-right: 0;
      //   border-bottom: 1px solid #000;
      border-left: 0;
      border-radius: 3px;
      @include transition;

      &:focus {
        outline: 0;
        border-bottom-color: #0cbaba;
      }
    }
  }
}

.categoryButton {
  border: 1px solid #0cbaba;
  // width: fit-content;
  // margin-top: 2rem;
  margin: 0.5rem 0.5rem;
  color: white;
  width: fit-content;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  font-size: 16px;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  &:hover {
    cursor: pointer;
    background-color: rgba(#0cbaba, 0.8);
  }
  &:hover {
    background-color: rgba(#0cbaba, 1);
    color: #380036;
    cursor: pointer;
  }
  &:focus {
    background-color: rgba(#0cbaba, 1);
    color: #380036;
  }
  &:active {
    background-color: rgba(#0cbaba, 1);
    color: #380036;
  }
}
.details_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10%;
}
.add {
  background-color: #380038;
  border: 1px solid rgba(white, 0.7);
  width: 100%;
  height: 3rem;
  //   margin: 0 50% 0 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  border-radius: 4px;
  color: rgba(white, 0.7);
  &:hover {
    cursor: pointer;
    background-color: rgba(white, 0.5);
  }
}

.submitButton {
  // back
  // background-color: white;
  border: 1px solid #0cbaba;
  // width: fit-content;
  margin-top: 2rem;
  color: white;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: rgba(#0cbaba, 0.8);
  }
}
.center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
// .title {
//   // position: relative;
//   width: auto;
//   height: auto;
// }
