html {
  // box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;

  @media only screen and (max-width: 61.25em) {
    font-size: 50%;
  }
}

body {
  font-family: proximanova, Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;

  background: linear-gradient(to right bottom, #0cbaba, #380036) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // background-repeat: no-repeat;
  // height: calc(100vh - 2 * 4vw);
  max-height: 1000vh;

  overflow-x: hidden;
  // width: 50%;
  // overflow-x: hidden;
  // position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  // background: rgba(51, 51, 51, 0.7);/
  // z-index: 10;
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: #f38e82;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

aside {
  // background-color: #d62580;
  grid-row: auto;
  grid-column: 1 / 1;
}
article {
  // background-color: #d62580;
  // grid-row: 2 / span 2;
  grid-column: 2 / span 3;
  min-height: 200px;
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
.container {
  // width: 100%;
  //height: 750px;
  // margin: 20px auto;
  //border: 1px solid blue;

  display: grid;
  // grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  // max-width: fit-content;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  // width: 100% !important;
  // grid-gap: px;

  // color: #fff;
  font-family: sans-serif;

  & > * {
    // padding: 10px;
  }
}
@media screen and (max-width: 414px) {
  .container {
    display: grid;

    // grid-template-rows: 1fr 1fr;
    // grid-template-columns: repeat(4, 1fr);
    // max-width: fit-content;
    max-width: 100%;
    // width: 100% !important;
    // grid-gap: px;

    // color: #fff;
    font-family: sans-serif;
  }
}
.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__btn {
    &__prev {
      float: left;
    }
    &__next {
      float: right;
    }
  }
}
.header {
  // background-color: red;
  // grid-area: head;
  // background-color: #fff;
  // background-color: green;
  display: flex;
  align-items: center;
  // justify-content: center;
  // width: fit-content !important;
  width: 100%;
  height: 100%;
  margin: 1em auto;
  // background-color: #d62580;
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
}
@media (max-width: 414px) {
  .header {
    // background-color: white;
    // grid-area: head;
    // background-color: #fff;
    // background-color: green;
    display: flex;
    align-items: center;
    // position: /;
    // justify-content: center;
    // width: fit-content !important;
    width: fit-content;
    height: 100%;
    // margin: 1em auto;
    // background-color: #d62580;
  }
}
